<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!--api host-->
    <remote-api-host>120.25.80.143:8090</remote-api-host>
    <socketio>120.25.80.143:9000/app</socketio>
    <!--cdn图片(资源服务)-->
    <cdn-host>cdn.zkjinshi.com</cdn-host>
    <!--pcm图片(资源服务)-->
    <pcd-host>pcd.zkjinshi.com</pcd-host>
    <!--Socket.io host-->

</config>